:root {
    --font-family-main: "Montserrat", sans-serif;
    --font-size-xs: 10px;
    --font-line-xs: 18px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 18px;
    --font-line-l: 26px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 22px;
    --font-line-xl: 30px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  
    --color-background-page: rgb(21, 29, 44);
    --color-background-surface1: rgb(27, 35, 48);
    --color-background-surface2: rgb(38, 46, 61);
    --color-background-surface3: rgb(51, 58, 72);
    --color-background-surface4: rgb(69, 75, 89);
    --color-background-surface5: rgb(69, 75, 89);
    --color-background-disabled: rgba(181, 183, 192, 0.1);
  
    --color-foreground-default: rgb(232, 232, 238);
    --color-foreground-soft: rgb(181, 183, 192);
    --color-foreground-muted: rgb(157, 161, 172);
    --color-foreground-disabled: rgba(181, 183, 192, 0.5);
  
    --color-bg-elevated-0: rgb(21, 29, 44);
    --color-bg-elevated-1: rgb(27, 35, 48);
    --color-bg-elevated-2: rgb(38, 46, 61);
    --color-bg-elevated-3: rgb(51, 58, 72);
    --color-bg-elevated-4: rgb(69, 75, 89);
  
    --color-border-default: rgba(181, 183, 192, 0.5);
    --color-border-soft: rgba(181, 183, 192, 0.25);
    --color-border-muted: rgba(181, 183, 192, 0.15);
  
    --color-neutral-default: rgb(181, 183, 192);
    --color-neutral-soft: rgb(157, 161, 172);
    --color-neutral-muted: rgb(121, 126, 139);
    --color-neutral-hover: rgb(211, 212, 219);
    --color-neutral-active: rgb(232, 232, 238);
  
    --color-status-success-default: rgb(133, 229, 173);
    --color-status-success-soft: rgb(96, 221, 148);
    --color-status-success-hover: rgb(194, 242, 214);
    --color-status-warning-default: rgb(254, 211, 136);
    --color-status-warning-soft: rgb(254, 197, 100);
    --color-status-warning-hover: rgb(255, 233, 195);
    --color-status-error-default: rgb(255, 147, 147);
    --color-status-error-soft: rgb(255, 114, 114);
    --color-status-error-hover: rgb(255, 201, 201);
    --color-status-info-default: rgb(143, 180, 255);
    --color-status-info-soft: rgb(109, 158, 255);
    --color-status-info-hover: rgb(199, 218, 255);
  
    // Размеры
    --height-navbar: 50px;
    --height-sidebar: calc(100vh - var(--height-navbar));
    --height-page: calc(100vh - var(--height-navbar));
  
    --border-radius-s: 0.5rem;
    --border-radius-m: 1rem;
    --border-radius-l: 1.5rem;
    --border-radius-xl: 2rem;
  
    --icon-size-16: 16px;
    --icon-size-24: 24px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #121212;
      --foreground: #f4f4f4;
    }
  }