@import "@/app/styles/_mixins.scss";

.CollectionPreview {
    min-width: 300px;
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
}
.CollectionPreview:hover {
    border-color: var(--color-border-default);
    transition: border-color 200ms ease-in-out;
}

.card {
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
}

.likes, .views, .likeBtn {
    position: absolute;
}

.likes {
    left: 0;
    top: 1rem;
}

.views {
    left: 0;
    top: 3.5rem;
}

.likeBtn {
    right: 0.5rem;
    top: 0.5rem;
}

.imageWrapper {
    grid-area: image;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: var(--border-radius-m);
    background-color: var(--color-background-disabled);
}

.img {
    width: 100%;
   border-radius: var(--border-radius-m);
}

.author {
    font: var(--font-s);
    padding: 1rem;
}

.name {
    padding: 0.5rem 0.5rem;
    @include clamp-2-lines;
}