@import "@/app/styles/_mixins.scss";
.Collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'image image image'
    'author views likes'
    'title title title'
    'description description description';
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
}

.image {
    grid-area: image;
    width: 100%;
    overflow: hidden;
}

.img {
    aspect-ratio: 16/9;
    max-height: 100%;
    max-width: 100%;
    border-radius: var(--border-radius-xl);
}

.author {
    grid-area: author;
    font: var(--font-m);
}

.title {
    grid-area: title;
    @include clamp-2-lines;
    font: var(--font-l);
}

.description {
    grid-area: description;
    @include clamp-4-lines;
}

.likes {
    grid-area: likes;
}

.views {
    grid-area: views;
}

