.MoviesInNewCollectionList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
}

.highlight {
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    &:hover {
        border-color: var(--color-border-default);
    }
}