.CollectionPage, .isOwnerCollectionPage {
    display: grid;
    align-items: start;
}

.CollectionPage {
    grid-template-columns: 1fr 2fr;
    display: grid;
    align-items: start;
    grid-template-areas: 
    'collection movies'
}

.isOwnerCollectionPage {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'edit movies'
    'collection movies';
}

.edit {
    grid-area: edit;
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 1rem;
}

.collection {
    grid-area: collection;
}

.movies {
    grid-area: movies;
}