.sidebar {
    min-width: 14rem;
    width: 20%;
    height: var(--height-sidebar);
    background-color: var(--color-background-surface2);
    color: var(--color-foreground-default);
    position: relative;
}