.authForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.authInput {
    all: unset;
    border: 1px solid var(--color-border-default);
    border-radius: 20px;

    height: 40px;
    width: 300px;

    padding: 0 20px;
}

.submitWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recover {
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
    height: fit-content;
}

.submitInput {
    all: unset;
    border: 1px solid var(--color-border-default);
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    padding: 0 1rem;
    align-self: flex-end;
}