.SearchBar {
    position: relative;
}

Input.input {
    padding-right: calc(0.5rem + 24px + 24px + 0.2rem);
}

.iconButton{
    position: absolute;
}

.clearIcon {
    top: 0.5rem;
    right: calc(0.5rem + var(--icon-size-24) + 0.2rem);
}

.searchIcon {
    top: 0.5rem;
    right: 0.5rem;
}

.icon {
    fill: var(--foreground);
    aspect-ratio: 1/1;
    width: var(--icon-size-16);
    height: var(--icon-size-16);
}

.visuallyHidden {
    visibility: hidden;
    position: absolute;
}