@import "@/app/styles/_mixins.scss";
.Collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'image image image'
    'author views likes'
    'title title title'
    'description description description';
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    padding: 1rem;
    min-width: 400px;
}

.image {
    grid-area: image;
    width: 100%;
    
}
.imageWrapper {
    grid-area: image;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: var(--border-radius-xl);
    background-color: var(--color-background-disabled);
}

.img {
    max-width: 100%;
    object-fit: contain;
}

.author {
    grid-area: author;
    font: var(--font-m);
}

.title {
    grid-area: title;
    @include clamp-2-lines;
    font: var(--font-l);
}

.description {
    grid-area: description;
    @include clamp-4-lines;
}

.likes {
    grid-area: likes;
}

.views {
    grid-area: views;
}

.notFound {
    width: 100vw;
    height: var(--height-page);
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 1rem;

    & p {
        font: var(--font-xl);
    }
}