.MoviesInNewCollectionList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: start;
    justify-items: center;
    padding: 1rem;
}

.listItem {
    list-style: none;
    position: relative;
    height: 100%;
}

.removeMovieBtn {
    position: absolute;
    top: 1em;
    right: 1em;

    background-color: var(--color-foreground-muted);
    border-radius: var(--border-radius-s);

    &:hover {
        background-color: var(--color-status-error-soft);
    }
}

.iconDelete {
    width: 30px;
    height: 30px;
}