@import "@/app/styles/_mixins.scss";

.MovieByKeywordPreview {
    padding: 0.5rem;
    width: calc(200px + 1rem);
}

.nameEn,
.nameRu,
.year {
    margin-top: 0.25rem;
    text-align: start;
}

.nameEn,
.year {
    color: var(--color-foreground-muted);
}

.nameRu {
    font: var(--font-l);
    @include clamp-3-lines;
}

.nameEn {
    @include clamp-3-lines;
}

.imageWrapper {
    width: 200px;
    height: 300px;
    position: relative;
}

.ratingKP {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}


.image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-m);
}