.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginInput {
    all: unset;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-s);

    height: 40px;
    width: 300px;

    padding: 0 20px;
}

.submitWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// .recover {
//     font-size: 10px;
//     text-decoration: underline;
//     cursor: pointer;
//     height: fit-content;
// }

.buttons {
    display: flex;
}

.submitInput {
    all: unset;
    border: 1px solid var(--color-border-default);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-left: auto;
}

.register {
    font: var(--font-s);
    text-decoration: underline;
}

.errorText {
    font-size: xx-small;
    color: red;
}



