.SearchMovieByKeywordList {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1rem;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius-m);
    width: 100%;
}

.movie {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    &:hover {
        border-color: var(--color-border-default);
    }
}

.error {
    background: var(--color-status-error-default);
    padding: 1rem;
    border-radius: var(--border-radius-s);
    color: black;
}